@charset "UTF-8";

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
}

/**index.html begin**/
body {
	margin: 0;
	text-align: center;
}

.status-bar {
	position: absolute;
    height: 1.25rem;
    background-color: #FAFAFA;
    width: 100%;
}

.ion-content {
    position: absolute;
    bottom: 2.125rem;
    top: 1.25rem;
    width: 100%;
    height: 586px;
    z-index: 1;
}

.main-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-button-bar {
	position: absolute;
    bottom: 0;
    height: 2.125rem;
    background-color: black;
    width: 100%;
}

/* 提示、错误框 */
.hint-mask {
    width:100%;
    position: fixed;
    z-index:12;
    text-align:center;
    top:-200px;
    display:table;
}

.hint-mask-fake {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 1rem;
    text-align: center;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

/* 加载中图标 */
.loading-container {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.loading-container > div {
    position: absolute;
    top: 50%;
    left: 52%;
    margin: -2rem 0 0 -2rem;
    width: 3rem;
    height: 3rem;
    background: url('../res/img/circle_load.png');
    background-size: contain;
    -webkit-animation: stretchdelay 2s infinite ease-in-out;
}

@-webkit-keyframes stretchdelay {
    0% { -webkit-transform: rotateZ(90deg) }
    100% { -webkit-transform: rotateZ(450deg) }
}
/**index.html end**/


/*** ---------Page transition animation---------- ***/

/* 页面进入动画 */
.main-view.forward.ng-enter {
    animation: slideInRight 400ms;
    -webkit-animation: slideInRight 400ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.main-view.forward.ng-leave {
    animation: slideOutLeft 400ms;
    -webkit-animation: slideOutLeft 400ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

/* 页面退出动画 */
.main-view.backward.ng-enter {
    animation: slideInLeft 400ms;
    -webkit-animation: slideInLeft 400ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.main-view.backward.ng-leave {
    animation: slideOutRight 400ms;
    -webkit-animation: slideOutRight 400ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

/* slide out to the left */
@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3D(0,0,0);
    }
    to {
        -webkit-transform: translate3D(-100%,0,0);
    }
}

/* slide in from the right */
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3D(100%,0,0);
    }
    to {
        -webkit-transform: translate3D(0,0,0);
    }
}

/* slide in from the left */
@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3D(-100%,0,0);
    }
    to {
        -webkit-transform: translate3D(0,0,0);
    }
}

/* slide in from the right */
@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3D(0,0,0);
    }
    to {
        -webkit-transform: translate3D(100%,0,0);
    }
}

/*** ---------Animation define---------- ***/