.bar-header {
  background-color: #FAFAFA;
  font-size: 16px;
}
.platform-android .bar .title {
  font-size: 16px;
}
.function-btn {
  position: relative;
  top: 44px;
  height: 121px;
  margin: 18px 40px;
  background: -webkit-linear-gradient(left, #fd8526, #fcb920);
  border-radius: 8px;
}
.personnel {
  margin-top: 45px;
}
.btn-block {
  position: absolute;
  width: 280px;
  height: 121px;
  display: block;
}
.vehicle {
  background: -webkit-linear-gradient(left, #0979ff, #5498f2);
}
.nonVehicle {
  background: -webkit-linear-gradient(left, #0c91fa, #0fb8fd);
}
.btn-img {
  position: relative;
  width: 64px;
  height: 64px;
  display: block;
  margin: 27px 0 27px 38px;
}
.btn-search {
  background: url('../res/img/honme_05.png') no-repeat center;
  background-size: 64px;
}
.btn-vehicle {
  background: url('../res/img/honme_02.png') no-repeat center;
  background-size: 64px;
}
.btn-nonVehicle {
  background: url('../res/img/honme_04.png') no-repeat center;
  background-size: 64px;
}
.btn-info {
  position: absolute;
  width: 110px;
  margin-left: -18px;
  margin-top: -71px;
  font-size: 18px;
  color: white;
}
.btn-nonMaster {
  margin-left: 0px;
}
.btn-block.activated {
  opacity: 0.3;
}