.platform-android .bar .title {
  font-size: 16px;
}
#nonVehicleBtn {
  height: 100%;
  background-color: rgb(255,255,255);
}
#nonVehicleBtn .license-search {
  text-align: left;
  position: relative;
  font-size: 13px;
  line-height: 28px;
  top: 44px;
  height: 137px;
  width: 360px;
  padding: 28px 36px;
  color: rgba(0,0,0,0.85);
}
.license-search:after {
  content: '';
  height: 1px;
  width: 360px;
  -webkit-transform: scaleY(.333);
  -webkit-transform-origin-y: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #cccccc;
}
#nonVehicleBtn .add-type {
  width: 60px;
  height:27px;
  margin-left: 18px;
}
#nonVehicleBtn input[type='radio']:checked {
  opacity: 1;
  background-image: url(../res/img/btn_on_normal.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

#nonVehicleBtn input[type='radio'] {
  width: 16px;
  height: 16px;
  background-image: url(../res/img/btn_off_normal.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  -webkit-appearance: none;
}
#nonVehicleBtn .search-type{
  position: relative;
  margin-left: 4px;
  font-size: 13px;
  top: -3px;
}
#nonVehicleBtn .search-label {
  margin-left: 23px;
  top: 4px;
}
#nonVehicleBtn .confirm-btn {
  position: relative;
  /*top: 211px;*/
  top: 63px;
  width: 284px;
  height: 40px;
  left: 0px;
  border: none;
  border-radius: 70px;
  background-color: #007eed;
  font-size: 15px;
  color: rgb(255,255,255);
  margin-bottom: 169px;
}
.add-tab {
  position: absolute;
  margin-top: 3px;
  left: 81px;
  font-size: 13px;
}
.delete-btn,
.add-btn {
  position: absolute;
  right: 0px;
  width: 91px;
  height: 25px;
  background: url('../res/img/btn_input_add_normal.png') no-repeat center;
  background-size: 25px 25px;
  margin-right: 248px;
  padding-left: 30px;
  margin-top: 5px;
}
.delete-btn {
  background: url('../res/img/btn_input_del_normal.png') no-repeat center;
  background-size: 25px 25px;
}
#nonVehicleBtn .confirm-btn.activated,
.delete-btn.activated,
.add-btn.activated {
  opacity: 0.3;
}
#instructions {
  position: relative;
  margin-top: 98px;
  text-align: left;
  padding: 0 36px;
  font-size: 13px;
  color: rgba(0,0,0,0.65);
}
.instruction-content {
	line-height: 16.9px;
	position: relative;
	top: 7px;
}
.search-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}