@charset "UTF-8";


#personItemDetailPage {
    background-color: #fafafa;
    height: 100%;
}
.search-header {
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    position: relative;
}

.search-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.header-title {
    position: relative;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.person-item {
    font-size: 13px;
    text-align: initial;
    padding: 22px 22px 22px 35px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 10px;
}

.person-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.person-detail-item {
    margin-bottom: 10px;
}

.page-content {
    top: 60px;
}