@charset "UTF-8";

#personDetailPage {
    background-color: #fafafa;
    height: 100%;
    overflow-x: scroll;
}

.search-header {
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    position: relative;
}

.search-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.header-title {
    position: relative;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

/**复用search*/
.id-content {
    position: relative;
    padding: 30px 35px 0;
    background-color: #fafafa;
}

.id-content-base {
    position: relative;
    width: 100%; /**!!!!!!!*/
    font-size: 13px;
    color: rgba(0, 0, 0, 0.85);
}

.content-item {
    margin-bottom: 10px;
    text-align: initial;
}

.id-content-image {
    position: absolute;
    right: 35px;
    width: 69px;
    height: 87px;
    top: 30px;
}

.id-content-image img {
    width: inherit;
}

/***/

.detail-item-content {
    width: 100%;
    height: 235px; /**delete*/
    text-align: initial;
    font-size: 15px;
    padding: 0 18px 0;
    background-color: rgb(255, 255, 255);
}

.detail-item {
    position: relative;
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255) url(../res/img/icon_list_arrow.png) 95% center no-repeat;
    background-size: 7px 15px;
}

.detail-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.last-item:after {
    background: none;
}

