@charset "UTF-8";

*.activated {
    opacity: 0.5;
}

.search-header {
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    position: relative;
}

.search-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.header-title {
    position: relative;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.id-card {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 475px;
}

.id-number-tool {
    position: relative;
    width: 100%;
    height: 100px;
    /* top: 20px; */
    padding: 35px 35px 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.85);
    text-align: initial;
    background-color: rgba(255, 255, 255, 1);
}

.id-number-tool:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.id-number-input {
    border: none;
    position: relative;
    width: 152px;
}

.type-name {
    padding-right: 20px;
}

.blue-font {
    color: #007eed !important;
}

input[disabled] {
    background-color: rgb(255, 255, 255) !important;
}

.id-number-x {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 52px;
    height: 19px;
    line-height: 19px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #007eed;
    font-size: 9px;
    text-align: center;
}

#searchPage .id-content {
    position: relative;
    padding: 30px 35px 0;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

.id-content-base {
    position: absolute;
    width: 40%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.85);
}

.content-item {
    margin-bottom: 10px;
    text-align: initial;
}

.id-content-image {
    position: absolute;
    right: 35px;
    width: 69px;
    height: 87px;
    /* margin-top: 10px; */
}

.id-content-image img {
    width: inherit;
}

.id-content-address {
    position: absolute;
    bottom: 40px;
}

.id-content-button {
    position: relative;
    bottom: 80px;
    width: 284px;
    height: 40px;
    left: 35px;
    top: 58.6px;
    background-color: #007eed;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    display: block;
}


.none-card {
    width: 100%;
    height: 475px;
    text-align: initial;
    font-size: 13px;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-height: 475px) {
    .none-card {
        height: 256px;
        overflow-x: hidden;
    }
}

.none-card-item {
    padding: 15px 35px 15px;
    /*border-bottom: 1px solid #cccccc;*/
    background-color: rgb(255, 255, 255);
    position: relative;
}

.none-card-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.search-item {
    margin: 10px 0 8px;
}

.base-search {

}

.face-search {

    display: flex;
    align-items: center;
}

.face-placeholder {
    position: relative;
    margin-left: 30px;
    color: #999999;
}
.face-search-camera {
    position: relative;
    width: 20px;
    height: 20px;
    left: 19px;
}

.cloud-search {
}

.cloud-item {
    position: relative;
    left: 18px;
    margin-top: 8px;
}

.input-container {
    display: inline-block;
    position: relative;
}

.input-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.search-item-input {
    border: none;
    background-color: transparent;
}

.face-item {
    position: relative;
    display: inline-block;
    width: 60%;
    height: 20px;
    left: 18px;
    background-color: grey;
    border-radius: 10px;
}

.base-item {
    position: relative;
    left: 18px
}

.birth-label {
    display: block;
    margin-bottom: 8px;
}

.birth-input {
    width: 200px;
}

.birth-range-input {
    display: inline;
    width: 50px;
}

#searchPage input[type="radio"] {
    width: 16px;
    height: 16px;
    background-image: url(../res/img/btn_off_normal.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    -webkit-appearance: none;
    margin-right: 7px;
}

#searchPage input[type="radio"]:checked {
    opacity: 1;
    background-image: url(../res/img/btn_on_normal.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;

}

#searchPage input[type="tel"]{
    height: 21px;
}

.search-label {
    display: inline-flex;
    align-items: center;
}

.search-label.activated {
    opacity: 1;
}

.no-click-active.activated {
    opacity: 1;
}
.sex-item {
    margin: 0 10px 0;
}

.search-bar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 51px;
    display: flex;
}

.search-bar-container {
    width: 50%;
    position: relative;
}
.search-bar-icon{
    width: 35px;
    height: 35px;
}

.icon-left {
    position: absolute;
    right: 40px;
}

.icon-right {
    position: absolute;
    left: 40px;
}

.search-bar-container p {
    font-size: 9px;
    position: absolute;
    bottom: 3px;
}
.bar-font-left {
    right: 34px;
}
.bar-font-right {
    left: 35px;

}

.id-page-on {
    background: url(../res/img/btn_youzheng_click.png) 75% 25% no-repeat;
    background-size: 30px 30px;
}

.id-page-off {
    background: url(../res/img/btn_youzheng_normal.png) 75% 25% no-repeat;
    background-size: 30px 30px;
}
.none-id-page-on {
    background: url(../res/img/btn_wuzheng_click.png) 25% 25% no-repeat;
    background-size: 30px 30px;
}
.none-id-page-off {
    background: url(../res/img/btn_wuzheng_normal.png) 25% 25% no-repeat;
    background-size: 30px 30px;
}