@charset "UTF-8";

.search-header {
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    position: relative;
}

.search-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.header-title {
    position: relative;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.result-navigation-bar {
    position: relative;
    font-size: 13px;
    height: 43px;

}

.navigation-bar-title {
    display: flex;
    height: 100%;
    padding: 10px 0 5px;
}
.navigation-bar-point {
    width: 33.3%;
    position: absolute;
    bottom: 7px;
    height: 6px;
    background: url(../res/img/icon_tab_selected.png) center center no-repeat;
    background-size: 6px 6px;
    transition: 300ms transform;
    transform: translateX(0);
}

.result-navigation-bar:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(.333);
    transform: scaleY(.333);
    background: #cccccc;
}

.date-type-page {
    width: 100%;
    height: 483px;
    background: #f5f5f5;
}

.navigation-item {
    width: 33.3%;
}

.blue-font {
    color: #007eed;
}

.data-item {
    font-size: 13px;
    text-align: initial;
    padding: 22px 22px 22px 35px;
    background: rgb(255, 255, 255) url(../res/img/icon_list_arrow.png) 90% center no-repeat;
    background-size: 7px 15px;

}

.data-item-icon {
    position: absolute;
    width: 7px;
    height: 15px;

}

.data-detail-item {
    margin-bottom: 12px;
}