.platform-android .bar .title {
  font-size: 16px;
}
#vehicleBtn {
  height: 100%;
  background-color: rgb(255,255,255);
}
.scan-btn {
  position: absolute;
  right: 0px;
  width: 35px;
  height: 35px;
  background: url('../res/img/btn_sao_normal.png') no-repeat center;
  background-size: 35px;
}
.license-search,
.engine-search,
.frame-search {
  padding: 20px 36px;
  text-align: left;
  position: absolute;
  font-size: 13px;
  line-height: 28px;
  width: 360px;
}
.license-search {
   top: 44px;
   height: 126px;
}
.engine-search {
   top: 170px;
   height: 93px;
}
.frame-search{
  top: 263px;
  height: 93px;
}
.license-search:after,
.engine-search:after,
.frame-search:after {
  content: '';
  height: 1px;
  width: 360px;
  -webkit-transform: scaleY(.333);
  -webkit-transform-origin-y: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: #cccccc;
}
.license-search:after {
  right: 1px;
}
.frame-search:after {
  right: 0px;
}
.license-search.activated,
.engine-search.activated,
.frame-search.activated {
  opacity: 0.3;
}
#vehicleBtn .search-type{
	position: relative;
	margin-left: 4px;
	font-size: 13px;
  top: -3px;
}
#vehicleBtn .search-info {
  margin-left: 23px;
}
#vehicleBtn .select-license {
  width: 143px;
}
#vehicleBtn .select-engine {
  width: 117px;
}
#vehicleBtn .select-frame {
  width: 104px;
}
#vehicleBtn .no-click-active {
  opacity: 1;
}
.frame-input,
.engine-input,
.vehicle-input{
  position: relative;
  top: -2px;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.vehicle-input {
  width: 83px;
  margin-left: 0px;
}
#vehicleBtn input[disabled] {
  background-color: white;
}
#vehicleBtn input[type='radio']:checked {
  opacity: 1;
  background-image: url(../res/img/btn_on_normal.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

#vehicleBtn input[type='radio'] {
  width: 16px;
  height: 16px;
  background-image: url(../res/img/btn_off_normal.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  -webkit-appearance: none;
}
#vehicleBtn .confirm-btn {
  position: relative;
  /*top: 277px;*/
  top: 428px;
  width: 284px;
  height: 40px;
  left: 0px;
  border: none;
  border-radius: 70px;
  background-color: #007eed;
  font-size: 15px;
  color: rgb(255,255,255);
}
#vehicleBtn .confirm-btn.activated {
  opacity: 0.3;
}
.vehicle-img {
  width: 16px;
  height: 16px;
  background-image: url(../res/img/btn_input_drop.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  -webkit-appearance: none;
  position: absolute;
  margin-top: 7px;
}
.plate-info {
  position: relative;
  bottom: 3px;
  width: 80px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 17px;
}
.plate-img {
  margin-left: 4px;
  margin-top: 0px;
}
.area-img {
  margin-left: 12px;
  margin-top: 0px;
}
.letter-img {
  margin-left: 5px;
  margin-top: 0px;
}
.area-info {
  width: 40px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 16px;
}
.letter-info {
  margin-left: 6px;
  display: inline-block;
  width: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 16px;
}
/**
 * 遮罩层背景颜色和透明度
 */
 .modal-backdrop.hidding .modal-backdrop-bg {
  -webkit-animation: fadeOut-bg .3s;

  opacity: 0;
}

.modal-backdrop,
.modal-backdrop-bg {
  height: 60.7rem;
}

.modal-backdrop.active .modal-backdrop-bg {
  -webkit-animation: fadeIn-bg .3s;

  opacity: .7;
  background-color: #333;
}

.modal {
  padding: 0;
  background-color: #ffffff;
}
.plate-modal,
.area-modal,
.letter-modal {
  width: 288px;
  height: 200px;
  background: #fff;
  margin-top: 203px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 13px;
  line-height: 25px;
  z-index: 10;
  border-radius: 9px;
}
.vehicle-list {
  height: 50px;
  padding: 15px;
}
.vehicle-list:after {
  content: '';
  height: 1px;
  width: 288px;
  -webkit-transform: scaleY(.333);
  -webkit-transform-origin-y: 100%;
  position: absolute;
  left: 0px;
  margin-top: 34px;
  background: #cccccc;
}
.vehicle-list.activated {
  opacity: 0.3;
}
