<ion-view title="About">
    <ion-header-bar class="byod-appstore-list-bar-positive">
        <h1 class="title">{{ 'ABOUT' | translate }}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="byod-about-logo-div">
            <img  class="byod-about-logo-img" src="./images/about_logo.png" alt=""/>
            <span  class="byod-about-logo-span">{{ 'APPSTORE' | translate }}</span>
        </div>

        <p class="byod-about-version">版本： {{data.version}}</p>
        <div class="spacer" style="width: 100%; height: 12.5rem;"></div>
        <div class="byod-about-footer-div">
        <p class="byod-about-policy byod-about-copyright">{{ 'SETTING_COPYRIGHT' | translate }}</p>
        <p class="byod-about-policy byod-about-copyright">Copyright © 2015-2017 Huawei</p>
        </div>
    </ion-content>
</ion-view>