<ion-view ng-controller="loginCtrl">
    <ion-header-bar class="bar bar-positive bar-header disable-user-behavior byod-item-bar" align-title="center">
        <div class="title title-center header-item">{{ 'LOGIN_TITLE' | translate }}</div>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll  has-header">
        <div class="logo"></div>
        <div class="list">
            <label class="item item-icon-right">
              <input name="username" type="text" placeholder="{{ 'ENTERPRISE_ACCOUNT' | translate }}" ng-keyup="onUsernameKeyup($event)" ng-model="loginUser.userName" maxlength="64" ng-blur="accountBlur()" required autocomplete="off" data-hw-autotest="userName">
            </label>
            <div>
              <i class="icon"><div class="byod-clear-icon" ng-show="loginUser.userName" on-tap="loginUser.userName=''"></div></i>
            </div>
        </div>
        <div class="list">
            <li class="item item-icon-right">
              <label>
                <input name="password" type="{{pwdControl.eyeHide?'password':'text'}}" placeholder="{{ 'USER_PWD' | translate }}"  maxlength="64" required ng-focus="pwdControl.viewUserPwd=true" ng-blur="pwdBlur()" autocomplete="off" ng-keyup="onPasswordKeyup($event)" ng-model="loginUser.userPwd"  data-hw-autotest="password">
              </label>
              <div ng-show="pwdControl.viewUserPwd && loginUser.userPwd" ng-click="switchViewPassword()">
                <img ng-src="{{pwdControl.eyeHide?'res/img/ic_eye_unchecked.png':'res/img/ic_eye_checked.png'}}"/>
              </div>
            </li>
        </div>
        <div class="button-bar">
            <button type="button" ng-click="login()" class="button button-block byod-unifiedlogin-but byod-login-but" ng-disabled="frmLogin.$invalid" data-hw-autotest="loginBtn">{{ 'LOGIN' | translate }}</button>
        </div>
    </ion-content>
</ion-view>