<div ng-controller='navigationCtrl'>
  <div class="bar bar-header">
      <h1 class="title">移动一查清</h1>
  </div>
  <div class="function-btn personnel">
    <a class="btn-block" ng-click="openSearch()">
      <i class="btn-img btn-search"></i>
      <span class="btn-info">人员盘查</span>
    </a>
  </div>

  <div class="function-btn vehicle">
    <a class="btn-block" ng-click="openNoMasterVehicle()">
      <i class="btn-img btn-vehicle"></i>
      <span class="btn-info">无主车辆</span>
    </a>
  </div>

  <div class="function-btn nonVehicle">
    <a class="btn-block" ng-click="openNoMasterNonVehicle()">
      <i class="btn-img btn-nonVehicle"></i>
      <span class="btn-info btn-nonMaster">无主非机动车</span>
    </a>
  </div>

</div>