<div id="nonVehicleBtn" ng-controller='nonVehicleCtrl'>
  <div class="bar bar-header">
      <h1 class="title">非机动车盘查</h1>
  </div>
  <ion-content>
  <div class="license-search" ng-repeat="checkType in checkTypes" ng-hide="checkType.isDelete">
    <label ng-click="searchType($index)">
      <input type="radio" name="vehicleType" ng-checked="checkType.searchCondation">
      <span class="search-type">按条件查询</span>
    </label>
    <div>
      <label class="search-type search-label">查询条件：</label>
      <input class="search-input" maxlength="20" />
    </div>
    <div class="add-type">
      <a><i ng-class="checkType.className" ng-click="addCheckType($index,checkType)"></i><span class="add-tab" ng-bind="checkType.btnName"class="item btm-line">新增</span></a>
    </div>
  </div>
  <div id="instructions">
    <span>说明：</span><br>
    <span class="instruction-content">
    查询框中可输入车牌号、车架号、发动机号、钢印号等信息的全部或
    部分内容，最少2个字母；若需增加条件可点击“+”按钮，点击“-”可
    去除查
    </span>
  </div>
  <div>
  	<button class="confirm-btn" ng-click="goSearchResultPage()">确认</button>
  </div>
  </ion-content>
 </div>