<div id="personItemDetailPage">
    <div class="search-header">
        <div class="header-back-tool"></div>
        <div class="header-title"><p>{{searchResultPageTitle}}</p></div>
        <div></div>
    </div>
    <ion-content class="page-content">
        <div class="person-item">
            <div class="person-detail-item"><span>姓名：</span><span>王强</span></div>
            <div class="person-detail-item"><span>性别：</span><span>男</span></div>
            <div class="person-detail-item"><span>身份证：</span><span>34262519911111</span></div>
            <div class="person-detail-item"><span>详细地址：</span><span>江苏省无锡市王家村三组188号</span></div>
            <div class="person-detail-item"><span>{{searchResultPageTitle}}信息一：</span><span>.....................</span></div>
            <div class="person-detail-item"><span>{{searchResultPageTitle}}信息二：</span><span>.....................</span></div>
            <div class="person-detail-item"><span>{{searchResultPageTitle}}信息三：</span><span>.....................</span></div>
        </div>
    </ion-content>
</div>
