<div id="personDetailPage">
    <div class="search-header">
        <div class="header-back-tool"></div>
        <div class="header-title"><p>{{personDetailPageTitle}}</p></div>
        <div></div>
    </div>
    <div class="id-content">
        <div >
            <div class="id-content-base">
                <div class="content-item" ng-repeat="data in searchDate[dataType]"><span>{{data}}</span><span></span></div>
            </div>
            <div class="id-content-image" ng-show="dataType==='0'">
                <img src="./res/img/pic_user.png">
            </div>
        </div>
    </div>

    <div class="detail-item-content" ng-show="dataType==='0'">
        <div class="detail-item" ng-click="goPersonItemDetailPage(0)"><span >缉控信息</span></div>
        <div class="detail-item" ng-click="goPersonItemDetailPage(1)"><span >本地数据</span></div>
        <div class="detail-item" ng-click="goPersonItemDetailPage(2)"><span >盘查记录</span></div>
        <div class="detail-item" ng-click="goPersonItemDetailPage(3)"><span >本地车辆</span></div>
        <div class="detail-item last-item" ng-click="goPersonItemDetailPage(4)"><span >本地网吧</span></div>
    </div>
</div>
