<div id="searchPage">
    <div class="search-header">
        <div class="header-back-tool"></div>
        <div class="header-title"><p>{{searchPageTitle}}</p></div>
        <div></div>
    </div>

    <ion-slide-box show-pager="false" delegate-handle="idSelect" on-slide-changed="slideHasChanged($index)">
        <ion-slide class="id-card">
            <div class="id-number-tool">
                <span>身份证号码：</span>
                <div class="input-container">
                    <input type="tel" id="idNumberInput" class="id-number-input" ng-class="{'blue-font': inputDate.length >= 18}" ng-model="inputDate" ng-blur="inputBlur()" maxlength="18">
                </div>
                <span class="id-number-x" ng-click="inputKeyX()">证件号X</span>
            </div>
            <div class="id-content">
                <div >
                    <div class="id-content-base">
                        <div class="content-item"><span>姓名：</span><span></span></div>
                        <div class="content-item"><span>性别：</span><span></span></div>
                        <div class="content-item"><span>民族：</span><span></span></div>
                        <div class="content-item"><span>出生日期：</span><span></span></div>
                        <div class="content-item"><span>详细地址：</span><span></span></div>
                    </div>
                    <div class="id-content-image">
                        <img src="./res/img/pic_user.png">
                    </div>
                </div>
            </div>
            <button class="id-content-button" ng-click="goSearchResultPage()">确认</button>
        </ion-slide>
        <ion-slide class="none-card">
            <ion-content delegate-handle="noneCardContent" >
                <div class="none-card-item base-search" ng-class="{'no-click-active': checkRadio===0}" ng-click="chooseType(0)">
                    <label class="search-label">
                        <input type="radio" name="typeRadio" checked="checked">
                        <span class="type-name">按姓名出生日期查询</span>
                    </label>
                    <div class="base-item">
                        <div class="search-item">
                            <span>姓名：</span>
                            <div class="input-container"><input class="search-item-input" ng-model="searchDate.base.name" ng-disabled="checkRadio !==0" placeholder="请输入姓名"></div>
                        </div>
                        <div>
                            <label class="birth-label search-label">
                                <input type="radio" name="nameRadio" checked="checked" ng-disabled="checkRadio !==0">
                                <span>出生日期：</span>
                                <div class="input-container"><input type="tel" class="search-item-input birth-input" ng-model="searchDate.base.birthday" ng-disabled="checkRadio !==0" maxlength="8" placeholder="请输入出生年月日 例:19900202"></div>
                            </label>
                            <label class="birth-label search-label">
                                <input type="radio" name="nameRadio" ng-disabled="checkRadio !==0">
                                <span>出生范围：</span>
                                <div class="input-container"><input type="tel" class="birth-range-input search-item-input" ng-model="searchDate.base.birthRangeStart" ng-disabled="checkRadio !==0" maxlength="4" placeholder=" 1950"></div>
                                <span>年至</span>
                                <div class="input-container"><input type="tel" class="birth-range-input search-item-input" ng-model="searchDate.base.birthRangeEnd" ng-disabled="checkRadio !==0"  maxlength="4" placeholder=" 2000"></div>
                            </label>
                        </div>
                        <div class="search-item search-label">
                            <span>性别：</span>
                            <label class="search-label sex-item">
                                <input type="radio" name="sexRadio" checked="checked"  ng-disabled="checkRadio !==0">
                                <span>男</span>
                            </label>
                            <label class="search-label sex-item">
                                <input type="radio" name="sexRadio" ng-disabled="checkRadio !==0">
                                <span>女</span>
                            </label>
                            <label class="search-label sex-item">
                                <input type="radio" name="sexRadio" ng-disabled="checkRadio !==0">
                                <span>全部</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="none-card-item cloud-search" ng-class="{'no-click-active': checkRadio===1}" ng-click="chooseType(1)">
                    <label class="search-label" >
                        <input type="radio" name="typeRadio">
                        <span class="type-name">云搜</span>
                    </label>
                    <div class="search-item cloud-item">
                        <span>条件：</span>
                        <div class="input-container"><input class="search-item-input" id="searchCloudInput" ng-model="searchDate.cloud" placeholder="请输入云搜条件" ng-disabled="checkRadio !==1"></div>
                    </div>
                </div>
                <div class="none-card-item face-search" ng-class="{'no-click-active': checkRadio===2}" ng-click="chooseType(2)">
                    <label class="search-label">
                        <input type="radio" name="typeRadio" >
                        <span>人脸识别</span>
                    </label>
                    <span class="face-placeholder">请拍摄正面人脸照片</span>
                    <img class="face-search-camera" src="./res/img/face_camera.png">
                    <!--<div class="face-item">-->
                    <!---->
                    <!--</div>-->
                </div>
                <button class="id-content-button" ng-click="goSearchResultPage()">确认</button>
            </ion-content>
        </ion-slide>
    </ion-slide-box>

    <div class="search-bar">
        <div class="search-bar-container" ng-class="{true:'id-page-on',false:'id-page-off'}[hasID]" ng-click="selectTabs(0)">
            <p class="bar-font-left">有证人员</p>
        </div>
        <div class="search-bar-container" ng-class="{true:'none-id-page-off',false:'none-id-page-on'}[hasID]" ng-click="selectTabs(1)">
            <p class="bar-font-right">无证人员</p>
        </div>

    </div>
</div>


