<div id="searchResultPage">
    <div class="search-header">
        <div class="header-back-tool"></div>
        <div class="header-title"><p>{{searchResultPageTitle}}</p></div>
        <div></div>
    </div>
    <div class="result-navigation-bar">
        <div class="navigation-bar-title">
            <div class="navigation-item" ng-class="{'blue-font':tabIndex === 0}" ng-click="selectTabs(0)"><p>{{searchResultTitleArray[dataType][0]}}</p></div>
            <div class="navigation-item" ng-class="{'blue-font':tabIndex === 1}" ng-click="selectTabs(1)"><p>{{searchResultTitleArray[dataType][1]}}</p></div>
            <div class="navigation-item" ng-class="{'blue-font':tabIndex === 2}" ng-show="dataType!=='2'" ng-click="selectTabs(2)"><p>{{searchResultTitleArray[dataType][2]}}</p></div>
        </div>
        <div class="navigation-bar-point" id="barPoint"></div>

    </div>
    <ion-slide-box show-pager="false" delegate-handle="dataTypeItem" on-slide-changed="slideHasChanged($index)">
        <ion-slide class="date-type-page" ng-repeat="item in searchResultTitleArray[dataType]">
            <div class="data-item" ng-click="goPersonDetailPage()">
                <div class="data-detail-item" ng-repeat="data in searchDate[dataType]"><span>{{data}}</span><span></span></div>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>
