<div id="vehicleBtn" ng-controller='vehicleCtrl' style="height: 586px;">
  <div class="bar bar-header">
      <h1 class="title">机动车盘查</h1>
  </div>
  <div class="license-search" ng-click="selectType('license')" ng-class="{'no-click-active': checkedLicense}">
    <div class="select-license">
     <input type="radio" name="vehicleType" ng-checked="checkedLicense">
     <span class="search-type">按机动车车牌照查询</span>
    </div>
    <div>
      <span class="search-type search-info">号牌种类：</span>
      <span ng-click="openPlateType()" class="plate-info">{{plateType}}<i class="vehicle-img plate-img"></i></span>
    </div>
    <div>
    <span class="search-type search-info">车牌号码：<span>
    <span ng-click="openAreaType()" class="area-info">{{areaType}}<i class="vehicle-img area-img"></i></span>
    <span ng-click="openLetterType()" class="letter-info">{{letterType}}<i class="vehicle-img letter-img"></i></span>
    <input class="vehicle-input" maxlength="6" ng-model="vehicleNum" ng-disabled="vehicleDisabled" />
    </div>
  </div>
  <div class="engine-search" ng-click="selectType('engine')" ng-class="{'no-click-active': checkedEngine}">
    <div class="select-engine">
     <input type="radio" name="vehicleType" ng-checked="checkedEngine" ng-model="engineNum" />
     <span class="search-type">按发动机号查询</span>
    </div>
    <div>
      <span class="search-type search-info">发动机号：</span>
      <input placeholder="请输入发动机号" class="engine-input" maxlength="20" ng-disabled="engineDisabled" />
    </div>
  </div>
  <div class="frame-search" ng-click="selectType('frame')" ng-class="{'no-click-active': checkedFrame}">
    <div class="select-frame">
      <input type="radio" name="vehicleType" ng-checked="checkedFrame" ng-model="frameNum" />
      <span class="search-type">按车架号查询</span>
    </div>
    <div>
      <span class="search-type search-info">车架号：</span>
      <input placeholder="请输入车架号" class="frame-input" maxlength="20" ng-disabled="frameDisabled"/>
    </div>
  </div>
  <div>
    <button class="confirm-btn" ng-click="goSearchResultPage()">确认</button>
  </div>
 </div>